[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

Scrapy = "*"
Flask = "*"
Flask-SQLAlchemy = "*"
Flask-Migrate = "*"
pipenv = "*"


[dev-packages]



[requires]

python_version = "3.6"
