[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

scrapy = "*"
flask = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pipenv = "*"
"psycopg2" = "*"
flask-script = "*"


[dev-packages]



[requires]

python_version = "3.6"
